*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    gap: 40px;
}

#game-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#restart-game{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    background: #48e;

}

#game-board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
}

.card{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #48e;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;

}

.congrats{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #48e;
    border-radius: 10px;
    width: fit-content;
    padding:  0 40px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}