*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    gap: 40px;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

#start{
    background: #4e4;
}

#pause{
    background: #e44;
}

#reset{
    background: #44e;
}

.btn-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#pomodoro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

#timer{
    font-size: 6rem;
}

#status{
    font-size: 3rem;
}

