*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #0008;
}

.points-container{
    height: 100px;
}

.points{
    font-size: 7rem;
}

.btn-container{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

.btn-sumar, .btn-restar, .btn-reiniciar{
    display: flex;
    padding: 10px;
    border: 1px solid #0006;
    border-radius: 20px;
    color: #fff;
}

.btn-reiniciar{
    background: #48e;
}

.btn-sumar{
    background: #54ff3e;
}

.btn-restar{
    background: #f34;
}