*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
    margin-top: 100px;
}

ul li{
    list-style: none;
}

.btn-create{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background: #48e;
    color: #fff;
    cursor: pointer;
}

.create-task-container{
    border: 1px solid #0005;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    position: relative;
}

.create-task-container input{
    width: 300px;
    height: 30px;
    border: 1px solid #0007;
    border-radius: 5px;

}

.close-create{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    background: #48e;
    border-radius: 100px;
    padding: 20px;
    height: 30px;
    width: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eliminar{
    padding: 10px 20px;
    border-radius: 5px;
    background: #e54;
    cursor: pointer;
    font-weight: bold;
}

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    list-style: none;
}

.titles{
    display: flex;
    gap: 20px;
}

.task{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.task-container{
    display: flex;
    width: 100%;
    max-width: 1280px;
}