*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    gap: 40px;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #48e;
    padding: 40px;
    border-radius: 10px;
}

.input-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-content input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0006;
    padding-left: 5px;
    font-size: 16px;
}

.btn-save, .delete{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #48e;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

h1{
    font-size: 4rem;
}

.expense-content{
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
}

.expense-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.delete{
    background: #ff0000;
}
